@import "tailwindcss";

:root {
  --background: #f9fafb;   /* light grayish white */
  --foreground: #1f2937;   /* neutral gray for text */
  --primary: #2563eb;      /* calming hospital blue */
  --secondary: #10b981;    /* health green */
  --accent: #38bdf8;       /* soft sky blue */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", "Arial", sans-serif;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-sans);
}
