{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - MedLink</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body class="auth-body">
    <div class="auth-container">
        <div class="auth-logo">Med<span class="highlight">Link</span></div>
        <h2>Create an account</h2>
        <p>Fill Out Everything</p>

        <form method="post">
            {% csrf_token %}
            <div class="name-row">
                <input type="text" name="first_name" placeholder="First Name">
                <input type="text" name="last_name" placeholder="Last Name">
            </div>

            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="Confirm Password">

            <button type="submit" class="btn">Sign Up</button>
        </form>

        <p class="switch-page">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
    </div>
</body>
</html>